
.app{
  width: 100%;
  height: 100%;
}
#tsParticles canvas {
  z-index: -1;
  height: 100%;
  position: absolute; 
}

.header{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  background: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(5px); 
  z-index: 1000;
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  color: #fff;
  font-weight: 600;
}
.nav-menus{
 display: flex;
  gap:20px;
  border-bottom: 2px solid transparent; 
}
.nav-menus a:hover{
  color:#b339fa;
}
.nav-menus a.active{
 color:#b339fa;
 border-bottom: 2px solid #b339fa; 
}
.menu-items-div{
  display:flex;
  justify-content: space-between;
  gap:25px;
}
.mobile-header{
  display: none;
}

.portfolio-heading{
  font-style:  italic;
  font-size: 25px;
  font-stretch: narrower;
  font-family: 'Bree sarif';
}
.footer{
 height: 100px;
 padding: 15px;
 background: rgba(0, 0, 0);
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
 color: #fff;
 box-shadow: 8px 5px #b339fa, 0px -5px 5px #b339fa
}
.footer-menu-items{
  display: flex;
  justify-content: center;
  gap:15px
}
@media screen and (max-width: 600px) {
  .header{
    display: none;
  }
  .web-portfolio-heading{
    display:none
  }
 .nav-menus{
  display: none;
 }
 .menu-btn{
  display: inline;
  border: none;
  outline: none;
  color:#fff;
 }
 .mobile-header{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  background: rgba(0, 0, 0, 0.7); 
  backdrop-filter: blur(5px); 
  z-index: 1000;
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  color: #fff;
  font-weight: 600;
}
 .menu-icon{
  font-size: 25px;
 }
 .footer-menu-items{
  display: none;  
}
}